<html lang="en">
<head>
    <link href="css/info.css" rel="stylesheet" href="info.ejs">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <style>
            h1 {text-align: center;}
    </style>
</head>
<body>
                <%- include('include/navbar') %>
       
        <br>
        <div id=grad1>Meet Charli d'amelio in person and get a autograph</div>
</body>
</html>