<html lang="en">
<head>
    <link href="css/main.css" rel="stylesheet" href="main.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %> </title>
    <style>
            h1 {text-align: center;}
    </style>
</head>
<body>
                <%- include('include/navbar') %>

        
        <h1> <%= status %> </h1>   
        <h1><%= msg %></h1>     
        <img src="images/cat.jpg" alt="kitty" style="width:50%">
              
    
</body>
</html>