<html lang="en">
    <head>
        <link href="css/events.css" rel="stylesheet" href="events.css">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= title %></title>
        <style>
                h1 {text-align: center;}
        </style>
    </head>
    <body>
        <%- include('include/navbar') %>

<div class="main">

    <h1>Events</h1>
    <hr>
    
    <h2>Choose an event to sign up for</h2>
        
    
    <div class="row">
      
      <div class="column">
        <div class="content">
          <img src="images/Cutie.jpg" alt="babe" style="width:100%">
          <h3>Charli d'amelio fan meet</h3>
          <p>5. oct</p>
          <p>Click for more information</p>
          <a href="/cdfm"><button type="button">Click Me!</button></a>
        </div>
      </div>

      <div class="column">
        <div class="content">
          <img src="images/tyler.jpg" alt="t1" style="width:100%">
          <h3>Head massage</h3>
          <p>3. jan</p>
          <p>Click for more information</p>
          <a href="/headmassage"><button type="button">Click Me!</button></a>
        </div>
      </div>

      <div class="column">
        <div class="content">
          <img src="images/picnic.jpg" alt="x" style="width:100%">
          <h3>Picnic</h3>
          <p></p>
          <p>Click for more information</p>
          <a href="/picnic"><button type="button">Click Me!</button></a>
        </div>    
      </div> 

      <div class="column">
        <div class="content">
              <img src="images/PillowFight.jpg" alt="Fighting" style="width:100%">
              <h3>Pillow fight</h3>
              <p>30. feb</p>
              <p>Click for more information</p>
              <a href="/pillow"><button type="button">Click Me!</button></a>
            </div>
        </div>

        <div class="column">
          <div class="content">
            <img src="images/Gaming.jpg" alt="Gamers" style="width:100%">
            <h3>Video games and fun</h3>
            <p>31. feb</p>
            <p>Click for more information</p>
            <a href="/gaming"><button type="button">Click Me!</button></a>
          </div>    
        </div>

        <div class="column">
          <div class="content">
            <img src="images/lasertag.jpg" alt="PewPew" style="width:100%">
            <h3>Lazertag</h3>
            <p>34. feb</p>
            <p>Click for more information</p>
            <a href="/lazertag"><button type="button">Click Me!</button></a>
          </div>    
        </div>

    </div>
        
    </body>
    </html>