<html lang="en">
<head>
    <link href="css/main.css" rel="stylesheet" href="main.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <style>
            h1 {text-align: center;}
    </style>
</head>
<body>
        <%- include('include/navbar') %>

        <div id="grad1"> 
                <h2> Welcome</h2>        
                <p>Click on <a href="/events">events</a> to begin</p>
        </div>    
</body>
</html>