<html lang="en">
<head>
    <link href="css/info.css" rel="stylesheet" href="info.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <style>
            h1 {text-align: center;}
    </style>
</head>
<body>
                <%- include('include/navbar') %>
        <br>
        <div id=grad1>A pillow fight is a common game mostly played by young children (but also by teens and adults) in which they engage in mock physical conflict, using pillows as weapons. Pillow fights often occur during children's sleepovers. Since pillows are usually soft, injuries rarely occur.</div>
</body>
</html>